 <link rel="stylesheet" type="style/css" href="./css/style.css">
<!-- <h1>Placeholder</h1>
<div class = "buisness"><div class = "1.1"></div><div class = 1.2></div><div class = 1.3></div><div class = 1.4></div><div class = 1.5></div></div>
<div class = "politics"><div class = "2.1"></div><div class = 2.2></div><div class = 2.3></div><div class = 2.4></div><div class = 1.5></div></div>
<div class = "world"><div class = "3.1"></div><div class = 3.2></div><div class = 3.3></div><div class = 3.4></div><div class = 1.5></div></div>
<div class = "economy"><div class = "4.1"></div><div class = 4.2></div><div class = 4.3></div><div class = 4.4></div><div class = 1.5></div></div>-->
<h1>Equilibrium</h1>
<% if session[:user_id] != nil%>
<%@name =  User.find(session[:user_id]).username %>
<%else%>
<%@name = "n/a"%>
<%end%>
Username: <font size="3"><%= @name %><br></font><br>
<% if session[:user_id] == nil %>
<a href = "/login">Login</a><br>
 <% else%>
<a href = "/sign-out">Sign out</a><br>
 <% end%>
<a href = "/sign-up">Sign up</a><br><a href = "/articles">Articles</a><br><a href = "/write-a-article">Write a article</a>
