<!DOCTYPE html>
<html>
 <head>
    <link rel="stylesheet" type="style/css" href="./css/style.css">
  <meta charset="UTF-8">
  <title>Articles</title>
 </head>
 <body>
   <a href = "/home">Home</a><br>
   <font size="5"><%= @article.headline %><br></font><font size="4"><%= @article.text %></font><br>
 </body>
</html>
