<a href = "/home">Home</a>
<form action="/new_user" method="POST">
  <div>
    
  <label for="user">Username</label>
  <input name="user" type="text" class="form-control" id="user" placeholder="Username">
    </div>
  <div>
  <label for="email">Email</label>
  <input name="email" type="text" class="form-control" id="email" placeholder="Email">
  </div>
  <div>
  <label for="password">Password</label>
  <input name="password" type="password" class="form-control" id="password" placeholder="Password">
  </div>
  <button type="submit" value ="sign_up">Sign up</button>
</form>