<a href = "/home">Home</a>
<h1>Write an article<h1>
  <form action = "/new_article" method = "POST">
  Title:<br>
  <input type="text" name="title">
    <br>
  Article: <br>
  <textarea name = "text" rows="20" cols="50"> 
</textarea>
    <input type = "submit" value = "Submit">
  </form>